AdroitImgDataset/
experiment_logs/
logs/
ckpts/
__pycache__/
.hydra/
wandb/
archive/
*_temp.xml
*.mp4
vis_video/
pytorch_checkpoints/
demonstrations/

# large files
moco_v2_800ep_pretrain.pth.tar
mae_pretrain_vit_base.pth
penn_joint.pth
r3m_ckpt/
pose_shape_best.pth
frankmocap_body.pt
frankmocap_hand.pth
fast_res50_256x192.pth
faster_rcnn_1_8_132028.pth
vc1_vitl.pth
vc1_vitb.pth
archive/ttp_frankmocap_hand/
human_files/

# python
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/